@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  transition: all 1s;
}
html{
  color: #e8e8e8;
  background-color: gray;
}
*{
  scrollbar-width: thin;
  scrollbar-color: #656565 #2c2c2c;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.container svg {
  position: relative;
  top: 0;
  left: 0;
  height: 37px;
  width: 37px;
  transition: all 0.3s;
  fill: #666;
  margin-left: 10px;
}

.container svg:hover {
  transform: scale(1.1);
}

.container input:checked ~ svg {
  fill: #ffeb49;
}
